/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    background-color: #F2F5F9;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
}

header {
    width: 100%;
    padding: 20px 0;
    background-color: #F2F5F9;
    text-align: left;
    padding-left: 20px;
}

.logo {
    font-size: 2rem;
    color: #002B5B;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 900px;
    width: 100%;
    margin: 20px auto;
}

.input-section, .output-section {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

textarea {
    width: 100%;
    height: 200px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
    font-size: 1rem;
    margin-bottom: 15px;
}

.note {
    font-size: 0.875rem;
    color: #6c757d;
    margin: 0;
    text-align: left;
}

.buttons {
    display: flex;
    justify-content: flex-start;
}

button {
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    color: #fff;
    background-color: #002B5B;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #004080;
}

button#decrypt-btn {
    background-color: #6c757d;
}

button#decrypt-btn:hover {
    background-color: #5a6268;
}

button#copy-btn {
    width: 100%;
    background-color: #007bff;
}

button#copy-btn:hover {
    background-color: #0056b3;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .input-section, .output-section {
        width: 100%;
        margin-bottom: 20px;
    }

    button {
        width: 100%;
        margin-bottom: 10px;
    }

    .buttons {
        flex-direction: column;
        align-items: center;
    }
}
